body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--clr-white);

  background-color: var(--clr-black--1);
}

.heading--primary {
  text-align: center;
  font-size: var(--fs-h1);
}

.heading--secondary {
  display: inline-block;
  font-size: var(--fs-h2);
  transition: all 0.5s;
  text-align: center;

  &:hover {
    color: var(--clr-red);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: var(--fs-h3);
}

.subheading {
  grid-area: subtitle;
  font-size: var(--fs-h3);
  background-color: var(--clr-purple);
  padding: 1rem 2rem;
}

