:root {
  --container-max-width: 120rem;
  --container-padding: 1rem;

  --nav-height: 9.1rem;

  --box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
  --box-shadow-keyboard: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --clr-black--1: hsl(0, 0%, 5%);
  --clr-black--2: hsl(0, 0%, 10%);
  --clr-black--3: hsl(0, 0%, 15%);
  --clr-purple: hsl(245, 49%, 64%);
  --clr-red: hsl(0, 60%, 50%);
  --clr-red--strong: hsl(0, 100%, 50%);
  --clr-red--weak: hsl(0, 64%, 58%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-2: hsl(220, 0%, 95%);

  --clr-blue--1: hsl(192, 15%, 66%);
  --clr-blue--2: hsl(192, 92%, 66%);
  --clr-green: hsl(130, 100%, 66%);

  --linear-blue-purple: linear-gradient(
    to bottom left,
    var(--clr-blue),
    var(--clr-purple)
  );

  --linear-hero-black: linear-gradient(
    to bottom,
    var(--clr-black--1),
    var(--clr-black--2)
  );

  --fw-reg: 400;
  --fw-bold: 900;

  --fs-h1: 3.5rem;
  --fs-h2: 3rem;
  --fs-h3: 2.5rem;
  --fs-body: 1.5rem;

  --hamburger-color: hsl(0, 0%, 80%);
}
