.card-game {
  padding: 10rem 2rem;
  background-image: var(--linear-blue-purple);

  &__content {
    max-width: 60rem;
    margin-inline: auto;
  }

  &__button {
    text-align: center;
  }

  &__cards {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__card {
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
    font-size: 5rem;
    cursor: pointer;
    color: var(--clr-black--1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
  }
}
