.hangman {
  padding: 10rem 0;
  color: var(--clr-black--1);
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #fff;
    padding: 5rem 0;
    position: relative;

    @include responsive(400) {
      width: 100%;
    }
  }

  &__scores {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    &--score {
      &--pulse {
      }
    }
    &--higest-score {
    }
    &--lifes {
    }
  }

  &__hint {
    padding: 0 0.3rem;
    position: absolute;
    top: 3rem;
    left: 4rem;
    border-radius: 0.3rem;

    &--pulse {
      animation: keyboard-pulse 0.5s infinite;
    }

    &--hidden {
      opacity: 0;
    }
    &--visible {
      opacity: 1;
    }
  }

  &__drawing {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(400) {
      transform: translateX(-5rem);
    }

    &--ground {
      width: 20rem;
      height: 1rem;
      background: var(--clr-black--1);
    }
    &--stand {
      height: 20rem;
      width: 1rem;
      background: var(--clr-black--1);
    }
    &--right {
      width: 15rem;
      height: 1rem;
      margin-left: 14rem;
      background: var(--clr-black--1);
    }
    &--down {
      position: absolute;
      height: 3rem;
      width: 1rem;
      top: 0;
      right: 0;
      background: var(--clr-black--1);
    }
    &--head {
      position: absolute;
      height: 4rem;
      width: 4rem;
      border: 1rem solid var(--clr-black--1);
      border-radius: 100%;
      top: 2rem;
      right: -1.5rem;
    }
    &--body {
      position: absolute;
      height: 8rem;
      width: 1rem;
      top: 5rem;
      right: 0;
      background: var(--clr-black--1);
    }
    &--left-arm {
      position: absolute;
      height: 1rem;
      width: 6rem;
      top: 9rem;
      right: 1rem;
      transform-origin: bottom right;
      rotate: 45deg;
      background: var(--clr-black--1);
    }
    &--right-arm {
      position: absolute;
      height: 1rem;
      width: 6rem;
      top: 9rem;
      right: -6rem;
      transform-origin: bottom left;
      rotate: -45deg;
      background: var(--clr-black--1);
    }
    &--left-leg {
      position: absolute;
      height: 1rem;
      width: 6rem;
      top: 12rem;
      right: 0;
      transform-origin: bottom right;
      rotate: -60deg;
      background: var(--clr-black--1);
    }
    &--right-leg {
      position: absolute;
      height: 1rem;
      width: 6rem;
      top: 12rem;
      right: -5rem;
      transform-origin: bottom left;
      rotate: 60deg;
      background: var(--clr-black--1);
    }

    &--shake &--left-arm {
      animation: left-arm-rotate 0.2s infinite;
    }
    &--shake &--right-arm {
      animation: right-arm-rotate 0.2s infinite;
    }
    &--shake &--left-leg {
      animation: left-leg-rotate 0.2s infinite;
    }
    &--shake &--right-leg {
      animation: right-leg-rotate 0.2s infinite;
    }
  }

  &__word {
    font-size: 5rem;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 2rem;
    text-transform: uppercase;
  }

  &__letter {
    &--border {
      flex: 1;
      padding: 0 1rem;
      border-bottom: 1rem solid var(--clr-black--1);
      text-align: center;

      @include responsive(600) {
        padding: 0;
      }
    }
    &--visible {
      visibility: visible;
    }
    &--hidden {
      visibility: hidden;
    }
    &--red {
      color: var(--clr-red--strong);
    }
    &--black {
      color: var(--clr-black--1);
    }

    &--winner {
      color: var(--clr-green);
    }
  }

  &__keyboard {
    align-self: stretch;
    margin: 0 auto;
    max-width: 80rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.65rem;
  }

  &__key {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    aspect-ratio: 2/1;
    box-shadow: var(--box-shadow-keyboard);
    background: var(--clr-white-2);
    border-radius: 0.8rem;
    animation: keyboard-zoom-out 1s forwards;

    &:hover:not(&--wrong, &--correct, &--no-hover) {
      animation: keyboard-zoom-in 0.5s forwards;
    }

    &--no-hover {
      cursor: default;
    }

    &--wrong {
      cursor: default;
      background: var(--clr-blue--1);
      color: var(--clr-white);
    }
    &--correct {
      background: var(--clr-green);
      color: var(--clr-white);
    }

    &--hint {
      animation: keyboard-pulse 0.5s infinite;
    }

    &--new-game {
      background-color: #fff;

      &--pulse {
        animation: keyboard-pulse 0.5s infinite;
      }
    }
  }

  &__modal {
    @include absCenter;
    position: fixed;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 1000;

    &--text {
      color: var(--clr-black--1);
    }
  }
}
