.hamburger-box {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid var(--hamburger-color);
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--clr-purple);
}

.hamburger {
  &-input {
    display: none;
  }
  &__line {
    // animation: hamburger-open-x 1s forwards;

    &--top {
      --rotation: -45deg;
      transform-origin: 68px 40px;
    }

    &--bottom {
      --rotation: 45deg;
      transform-origin: 70px 60px;
    }
  }

  // &:hover &__line {
  //   animation: hamburger-close-x 1s forwards;
  // }

  .close-anim &__line {
    animation: hamburger-close-x 1s forwards;
  }
  .open-anim &__line {
    animation: hamburger-open-x 1s forwards;
  }
}
