.nav {
  padding: 2rem 0;
  font-size: var(--fs-h2);
  z-index: 1;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    gap: 3rem;

    @include responsive(600) {
      flex-direction: column;
      @include absCenter;
      opacity: 0;
      width: 0;
    }
  }

  &__list.nav--toggeled {
    opacity: 1;
    width: auto;
    z-index: 2000;

    font-size: 4.4rem;
  }

  &__link {
    transition: all 0.5s;
    &:hover {
      color: var(--clr-red);
    }
  }

  &__button {
    display: none;
    z-index: 999;

    position: fixed;
    top: 2.5rem;
    right: 2.5rem;

    &--checked .nav__background {
      transform: scale(200);
    }

    @include responsive(600) {
      display: inline-block;
    }
  }

  &__background {
    position: fixed;
    top: 3rem;
    right: 4rem;
    background-image: var(--linear-blue-purple);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s;
  }
}
