.nav {
  font-size: var(--fs-h2);
  z-index: 1;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    background-image: var(--linear-hero);
  }

  &__list {
    gap: 3rem;

    @include responsive(600) {
      flex-direction: column;

      position: fixed;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }

  &__link {
    display: inline-block;
    transition: all 0.5s;

    @include responsive(600) {
      opacity: 0;
      width: 0;
      pointer-events: none;
    }

    &:hover {
      color: var(--clr-red);
    }
  }

  &--toggeled &__link {
    opacity: 1;
    width: auto;

    font-size: 4.4rem;
  }
  &--toggeled &__list {
    z-index: 2000;
    left: 50%;
  }

  &__button {
    display: none;
    z-index: 999;

    &--checked .nav__background {
      transform: scale(200);
      height: 1rem;
      width: 1rem;
    }

    @include responsive(600) {
      display: block;
    }
  }

  &__background {
    position: fixed;
    top: 3.3rem;
    right: 3.3rem;
    background-color: var(--clr-blue--2);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s;
    pointer-events: none;
  }
}
