section {
  display: block;
  min-height: var(--section-min-height);
}

.btn-purple {
  background: var(--clr-purple);
  color: var(--clr-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
